.main-dashboard-container {
  width: 100%;
  height: fit-content;
  /* border: 5px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-dashboard-left {
  /* border: 1px solid red; */
  width: 78%;
  height: 100%;
}

/* Dashboard right item */

.main-dashboard-right {
  width: 20%;
  background-color: white;
  border-radius: 14px;
  padding: 1rem;
  height: 715px;
}

.right-card {
  width: 100%;
  height: 100px;
  background-color: #f5f6fa;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
.right-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-card-header h6 {
  font-weight: 700;
  color: rgba(51, 51, 51, 0.5);
  margin: 0px !important;
  padding: 0px !important;
  font-size: 0.8rem;
}

.right-card-header p {
  margin: 0px !important;
  padding: 0px !important;
  color: rgba(51, 51, 51, 0.5);
  font-size: 0.8rem;
}

.right-card-content {
  width: 100%;
}
.right-card-content p {
  padding: 0px !important;
  margin: 0px !important;
}
.right-card-content small {
  color: rgba(51, 51, 51, 0.5);
}

/* Dashboard left item */

.each-left-item-container {
  /* border: 1px solid green; */
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.each-left-item-container ~ .each-left-item-container {
  margin-bottom: 0px !important;
}

.dashboard-card {
  width: 50%;
  height: fit-content;
  margin-right: 10px;
  border-radius: 14px;
  background-color: #fff;
  padding: 1rem;
}

.dashboard-card ~ .dashboard-card {
  margin-right: 0px !important;
}

.dashboard-card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  padding-bottom: 1rem;
}
.dashboard-card-header h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-card-header select {
  border-radius: 6px;
  border: 1px solid #e9e9e9;
  padding: 0rem 0.5rem;
  outline: none;
}
.chart {
  /* border: solid; */
}

.dashboard-card-total-price {
  width: 100%;
  height: fit-content;
  background-color: #223372;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 10px;
  margin: 10px 0px;
}

.dashboard-card-total-price p {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-card-total-price h4 {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700px;
}
.dashboard-list-items ul {
  list-style: none;
  padding: 0px 20px 0px 20px;
}

.dashboard-list-items ul li {
  position: relative;
  /* border: 1px solid red; */
  margin: 0px !important;
  padding: 0px !important;
}

.dashboard-list-items ul li a {
  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 0px !important;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border: 1px solid blue; */
}

.icon-show,
.icon-close {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 10;
  color: #111928;
}

.dashboard-list-items div {
  background-color: rgba(147, 147, 147, 0.1);
  color: #404040;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  /* border: 1px solid green; */
  width: 100%;
  font-size: 0.8rem;
  border-radius: 6px;
}

.dashboard-list-items p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.dashboard-list-items .icon-show {
  display: none;
}

.dashboard-list-items a.collapsed {
  color: #343a40;
}

.dashboard-list-items a.collapsed .icon-show {
  display: inline-block;
}
.dashboard-list-items a.collapsed .icon-close {
  display: none;
}

/* =========================================MEDIA QUERIES============================================= */

@media (max-width: 769px) {
  .main-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-dashboard-left {
    width: 100%;
    height: fit-content;
  }

  .main-dashboard-right {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 426px) {
  .each-left-item-container {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .dashboard-card {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 14px;
    background-color: #fff;
    padding: 1rem;
  }
}
